cluster.name: elasticsearch-cluster
node.name: {{ node_name }}
network.host: 0.0.0.0
network.publish_host: {{ private_ip }}
http.port: 9200
transport.tcp.port: 9300
http.cors.enabled: true
http.cors.allow-origin: "*"
node.master: true
node.data: true
node.max_local_storage_nodes: 3
discovery.seed_hosts: {{ unicast_host }}
discovery.zen.minimum_master_nodes: 1
cluster.initial_master_nodes: {{ initial_master_node }}
