storage:
  dbPath: /data/db
  journal: 
    enabled: true
  wiredTiger:
    engineConfig:
      cacheSizeGB : 0.1
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log
net:
  port: 2701${NUMBER}
  bindIp: 0.0.0.0
processManagement:
  timeZoneInfo: /usr/share/zoneinfo
replication:
  replSetName: shard${NUMBER}
sharding:
  clusterRole: shardsvr
security: 
  keyFile: /etc/mongodb/keyfile
  authorization: enabled

